.opacity {
  opacity: 0;
  transform: translateY(50px);
}

.experience1 {
  max-width: 800px;
}

@media (max-width: 576px) {
}

@media (min-width: 577px) {
  .experience1 {
    width: 99%;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .experience1 {
    width: 80%;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
