.opacity {
    opacity: 0;
    transform: translateY(50px);
  }

.card {
  max-width: 900px;
}

@media (max-width: 576px) {
}

@media (min-width: 577px) {
  .card {
    min-height: 55vh;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .card {
    min-height: 55vh;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
