.intro {
  width: 60%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

@media (max-width: 576px) {
  .intro {
    width: 90%;
  }
  .image {
    width: 80%;
  }
}

@media (min-width: 577px) {
  .image {
    width: 60%;
  }
  .intro {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .profileImage {
    height: 300px;
    width: auto;
  }
  .intro {
    width: 90%;
  }
  .image {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .intro {
    width: 80%;
  }
  .image {
    width: 50%;
  }
  .profileImage {
    height: 400px;
    width: auto;
  }
}

@media (min-width: 1200px) {
  .intro {
    width: 50%;
  }
  .image {
    width: 30%;
  }
}

@media (min-width: 1400px) {
}
