.backgroundImage {
  background-image: url('../assets/images/backgroundImage.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
